<h1><%= @cat.name %></h1>

<table>
  <tr>
    <td>Birthdate: <%= @cat.birthdate %></td>
  </tr>
  <tr>
    <td>Color: <%= @cat.color %></td>
  </tr>
  <tr>
    <td>Sex: <%= @cat.sex %></td>
  </tr>
  <tr>
    <td>About me: <%= @cat.description %></td>
  </tr>
</table>
